.loader {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  @include min-device(phone-xl) {
    height: 100%
  }
  @include svg($background);
  background-repeat: no-repeat;
  width: 300px;
  @include min-device(phone-m) {
    width: 320px;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    @include min-device(phone-m) {
      width: 320px;
    }
  }

  &::before {
    @include svg($darkgray);
    background-repeat: no-repeat;
    animation: spring 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    z-index: -1;
  }

  &::after {
    @include svg($gray);
    background-repeat: no-repeat;
    animation: spring-reverse 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }

  @keyframes spring {
    0% {
      top: 0;
      left: 0;
    }
    50% {
      top: 8px;
      left: -8px;
    }
    100% {
      top: 0;
      left: 0;
    }
  }

  @keyframes spring-reverse {
    0% {
      top: 0;
      left: 0;
    }
    50% {
      top: -8px;
      left: 8px;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
}

.none, .none::before, .none::after {
  background-image: none;
}
