.type__container {
  position: relative;
  min-width: 100%;
}

.type__content, .type__containter--resize {
  overflow: hidden;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 5px;
  border: none;
}

.type__content {
  height: 100%;
  position: absolute;
  resize: none;
  white-space: pre-wrap;
  outline: 1px solid $lightlightgray;
}

.type__containter--resize {
  visibility: hidden;
  white-space: pre-wrap;
}

.type__content--title {
  min-height: 40px;
  margin-bottom: 15px;
  color: #000;
}

.type__content--typ {
  min-height: 230px;
  color: $darkgray;
}

.type__content:focus {
  outline: 1px solid $lightgray;
  box-shadow: none;
}

.type__content::placeholder {
  color: $lightlightgray;
}
