.filter {
  .filter__box {
    @include post();
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.20);
    min-width: 100px;
    height: 95px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15px 10px 5px 10px;
    cursor: pointer;
    &:focus {
      outline: none;
      box-shadow: none;
    }
     &:active {
      outline: none;
      box-shadow: inset 0 0 10px -1px rgba(50, 50, 50, 0.15);
    }
  }

  .filter__name {
    text-align: center;
    color: $gray;

  }

  .active {
    box-shadow: none;
    outline: none;
      h4 {
      color: $darkgray;
      font: 500 0.8em proxima-nova;
      font-style: italic;
    }
  }
}
