h2 {
  width: 100%;
}

form {
  align-items: center;
  background-color: $white;
  padding: 15px 15px 10px;
  margin: 10px;
  @include border($lightgray);
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(200,200,200,1);

  .title {
    font: 500 1.6em chaparral-pro;
    height: 50px;
    margin-bottom: 15px;
    font: 500 1.5em chaparral-pro;
  }
  textarea {
    resize: none;
    overflow: auto;
    height: 360px;
    font: 300 1em/1.5em museo-slab;
  }
  .title, textarea {
    width: 320px;
    color: $darkgray;
    border: none;
    padding: 5px;
  }
  .title:focus, textarea:focus {
    outline:1px solid $lightgray;
    box-shadow: none;
  }
  .title::placeholder, textarea::placeholder {
    color: $lightgray;
  }
}
