.footer {
  background-color: $white;
  width: 100%;
  @include min-device(desk) {
    width: 375px;
  };
  min-height: 58px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  @include min-device(phone-xl) {
    position: static;
    min-height: 88px;
    };
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $lightgray;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
  font-size: 28px;
  z-index: 1;

  .fas, .shadow {
    margin: 0 25px 5px 25px;
    @include min-device(phone-xl) {
      margin: 0 25px 15px 25px;
    };
  }

  .shadow {
    box-shadow: hsla(0, 0%, 50%, 0.5) 0 0 0 1px inset;
    &:active {
      box-shadow: hsla(0, 0%, 50%, 0.5) 0 0 0 2px inset;
    }
    .profileImage {
      position: relative;
      box-sizing: border-box;
      z-index: -1;
      top: -1px;
    }
    &, & > .profileImage{
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }

 .current:last-child > * {
   box-shadow: none;
 }
  .current:last-child > * > * {
    box-shadow:
    0 0 0 2px $white,
    0 0 0 3px $darkgray;
  }

  .inactive {
    box-shadow: none;
    border-color: $lightgray;
    color: $lightgray;
    cursor: default;
  }
}
