footer {
  background-color: $white;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $lightgray;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);

  .footer--button {
    @include button(80px);
  }

  .inactive {
    box-shadow: none;
    border-color: $lightgray;
    color: $lightgray;
    cursor: default;
  }
}

.outer:active > .inner {
box-shadow: none;
}
.outer:focus > .inner {
box-shadow: 0 0 0 3px $darkgray;
}

.outer, .inner {
outline: none;
}
