.container {
  position: fixed;
  -webkit-transform: translate3d(0,0,0);
  top: 0;
  left: 0;
  display: flex;
  background-color: $background;
  min-width: 100vw;
  max-width: 100vw;
  @include min-device(desk) {
    max-height: 812px;
  }

  @include min-device(desk) {
    position: static;
    min-width: 378px;
    max-width: 378px;
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(200,200,200,1);
    @include border($lightgray);
  }
  height: 100vh;
  @supports (-webkit-overflow-scrolling: touch) {
    height: 100%;
  }
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}
