.post {
  @include post();
  .post__data {
    .fa-user,
    h3 {
      display: inline;
      color: $darkgray;
      padding: 0 0 0 15px;
    }

    h4 {
      position: relative;
      width: 200px;
      top: 0;
      left: 60px;
    }

    .fa-user {
      position: relative;
      top: -10px;
      left: 5px;
      padding: 10px 10px 8px 0;
      border-right: 1px solid $lightgray;
    }

    p {
      padding: 10px 0 25px;
      color: $darkgray;
    }
  }
  .post__more--list {
    list-style: none;
    border-top: 1px solid $lightgray;
    padding-top: 10px;

    .post__more--elem {
      font: 500 1.2em futura-pt;
      display: inline;
      padding-right: 30px;
      color: $darkgray;
    }
  }
}
