.filters {
  flex: 1;
  display: flex;
  align-items: center;
  @include min-device(phone-l) {
    align-items: flex-end;
    };
  .filters__list {
    list-style: none;
    width: 100vw;
    @include min-device(desk) {
    width: 373px;
    min-height: 88px;
  };

    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 155px;
  }
}
