.login {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include min-device(phone-xl) {
    height: 100%
  }
  &__elem, &__icon, &__elem > * {
    margin-top:10px;
    @include min-device(phone-m) {
      margin-top: 15px;
    }
    background: none;
    border: none;
    cursor: pointer;
    color: $darkgray;
    text-align: center;
  }
  &__elem, &__elem > * {
    font: 500 1.8em proxima-nova;
    color: $darkgray;
    &:hover {
      text-decoration: underline;
    }
  }
  .fab, .fas {
    font-size: 20px;
    width: 20px;
    align-self: center;
    color: $darkgray;
  }
  &__user-info {   
    font: 300 1.1em proxima-nova;
    padding: 10px 0 0 0;
  }
  .logo {
    margin-bottom: 10px;
    @include min-device(phone-m) {
      margin-bottom: 50px;
    }
    position: relative;
    @include svg($background);
    height: 94px;
    width: 220px;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 94px;
      width: 220px;
    }

    &::before {
      @include svg($darkgray);
      z-index: -1;
      top: 6px;
      left: -6px;
    }

    &::after {
      @include svg($gray);
      top: -6px;
      left: 6px;
    }
  }
}
