.login {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  @include min-device(phone-xl) {
    height: 100%
  }
  &__elem, &__icon, &__elem > * {
    margin-top: 15px;
      background: none;
      border: none;
      cursor: pointer;
      color: $darkgray;
      text-align: center;
    }
    &__elem, &__elem > * {
      font: 500 1.8em proxima-nova;
      color: $darkgray;
      &:hover {
        text-decoration: underline;
      }
    }
    .fab {
      font-size: 20px;
      width: 20px;
      align-self: center;
    }
  .logo {
    margin: 5vh 0 20px 0;
    @include min-device(phone-m) {
      margin: 20vh 0 50px 0;
    }
    position: relative;
    @include svg($background);
    height: 94px;
    width: 220px;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 94px;
      width: 220px;
    }

    &::before {
      @include svg($lightgray);
      z-index: -1;
      top: 6px;
      left: -6px;
    }

    &::after {
      @include svg($darkgray);
      top: -6px;
      left: 6px;
    }
  }
}
