/*-- COLORS --*/
$background: hsl(0, 0%, 95%);
$white: #fff;
$lightlightgray: hsl(0, 0%, 90%);
$lightgray: hsl(0, 0%, 70%);
$gray: hsl(0, 0%, 50%);
$darkgray: hsl(0, 0%, 30%);
/*-- MIXINS --*/
@mixin min-device($size) {
  @if $size == phone-m {
    @media (min-height: 667px) {
      @content;
    }
  } @else
  if $size == phone-l {
    @media (min-height: 736px) {
      @content;
    }
  } @else
  if $size == phone-xl {
    @media (min-height: 812px) {
      @content;
    }
  } @else
  if $size == desk {
    @media (min-width: 415px), (min-height: 813px) {
      @content;
    }
  } @else
  if $size == phone-h {
    @media (orientation: landscape) {
      @content;
    }
  }
}

@mixin border($color) {
  border: 1px solid $color;
}
@mixin post() {
  position: relative;
  align-items: center;
  padding: 0 0 10px;
  margin: 0 15px 10px 15px;
  width: calc(100% - 30px);
  @include border($lightlightgray);
  border-radius: 2px;
}
@mixin svg($color) {
  background: url('../assets/images/typ-shape.svg?fill=#{$color}');
  background-position: center;
}

/*-- FONTS --*/
h2 {
  width: 100%;
  padding: 15px 0 5px 0;
  @include min-device(phone-xl) {
    padding: 25px 0 15px 0;
  };
  text-align: center;
  background-color: $lightgray;
  color: transparent;
  text-shadow: 1px 2px 0 rgba(255,255,255,0.2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font: 800 1.6em proxima-nova;
  @include min-device(phone-m) {
    font: 800 1.8em proxima-nova;
  };
}
h4 {
  font: 100 0.8em proxima-nova;
  color: $darkgray;
  font-style: italic;
}
/*-- RESET --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-- GLOBAL --*/
html {
    height:100%;
}
body {
    min-height:100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  @include min-device(phone-xl) {
    };
  background: radial-gradient(rgba(255, 255, 255, 1) 40%, rgba(200, 200, 200, 1) 100%);
}

.content__box {
  -webkit-transform: translate3d(0,0,0);
  overflow: auto;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 58px 0;
  @include min-device(phone-xl) {

    }
  @include min-device(desk) {
    margin: 0 ;
    height: 100%;
    }
  &--type {
    @supports (-webkit-overflow-scrolling: touch) {
      height: calc(100vh - 116px);
    }
  }
  &--between {
    @include min-device(phone-xl) {
      justify-content: space-between;
    }
  }
  &--touch {
    -webkit-overflow-scrolling: touch;
  }
}

.fas {
  background-color: $darkgray;
  color: transparent;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.35);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  width: 32px;
  &:active {
    text-shadow: -1px -1px 0 rgba(255,255,255,0.35);
  }
}

.current > * {
  color: $darkgray;
}
