/*-- COLORS --*/
$background: hsl(0, 0%, 95%);
$white: #fff;
$lightlightgray: hsl(0, 0%, 90%);
$lightgray: hsl(0, 0%, 70%);
$gray: hsl(0, 0%, 50%);
$darkgray: hsl(0, 0%, 30%);
/*-- MIXINS --*/
@mixin min-device($size) {
  @if $size == phone-m {
    @media (min-height: 667px) {
      @content;
    }
  } @else
  if $size == phone-l {
    @media (min-height: 736px) {
      @content;
    }
  } @else
  if $size == phone-xl {
    @media (min-height: 812px) {
      @content;
    }
  } @else
  if $size == desk {
    @media (min-width: 415px) {
      @content;
    }
  } @else
  if $size == phone-h {
    @media (orientation: landscape) {
      @content;
    }
  }
}
@mixin button($width) {
  width: $width;
  background-color: $white;
  height: 30px;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 15px;
  font: 500 0.8em futura-pt;
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(200,200,200,1);
}
@mixin border($color) {
  border: 1px solid $color;
}
@mixin post() {
  position: relative;
  align-items: center;
  background-color: $white;
  padding: 15px 15px 10px;
  margin: 0 15px 10px 15px;
  width: calc(100% - 30px);
  @include border($lightlightgray);
  border-radius: 2px;
}
@mixin svg($color) {
  background: url('../assets/images/typ-shape.svg?fill=#{$color}');
  background-position: center;
}

/*-- FONTS --*/
h2 {
  width: 100%;
  padding: 15px 0 5px 0;
  @include min-device(phone-xl) {
    padding: 25px 0 15px 0;
  };
  text-align: center;
  background-color: $lightgray;
  color: transparent;
  text-shadow: 1px 2px 0 rgba(255,255,255,0.3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font: 800 1.8em proxima-nova;
}
h4 {
  font: 100 0.8em proxima-nova;
  color: $darkgray;
  font-style: italic;
}
/*-- RESET --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-- GLOBAL --*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(rgba(255, 255, 255, 1) 40%, rgba(200, 200, 200, 1) 100%);
}
.content__box {
  display: flex;
  overflow: auto;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  &--between {
    justify-content: space-between;
  }
}

.container {
  position: relative;
  display: flex;
  background-color: $background;
  min-width: 100vw;
  max-width: 100vw;
  @include min-device(desk) {
    min-width: 375px;
    max-width: 375px;
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(200,200,200,1);
    @include border($lightgray);
  }
  height: 100vh;
  min-height: 100vh;
  @include min-device(phone-xl) {
    height: 812px;
    min-height: 812px;
  };

  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.fas {
  background-color: $darkgray;
  color: transparent;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  width: 32px;
  &:active {
    text-shadow: -1px -1px 0 rgba(255,255,255,0.25);
  }
}
