/*-- COLORS --*/
$background: #f0f0f0;
$white: #fff;
$lightlightgray: hsl(0, 0%, 90%);
$lightgray: hsl(0, 0%, 70%);
$gray: hsl(0, 0%, 50%);
$darkgray: hsl(0, 0%, 30%);
/*-- MIXINS --*/
@mixin button($width) {
  width: $width;
  background-color: $white;
  height: 30px;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 15px;
  font: 500 0.8em futura-pt;
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(200,200,200,1);
}
@mixin border($color) {
  border: 1px solid $color;
}
@mixin post(){
  align-items: center;
  background-color: $white;
  padding: 15px 15px 10px;
  margin: 10px 15px;
  @include border($lightgray);
  border-radius: 5px;
  // box-shadow: 0 0 1px 0 rgba(200,200,200,1);
}

/*-- FONTS --*/
h2 {
  padding: 15px 0 5px;
  width: 100%;
  text-align: center;
  background-color: $lightgray;
  color: transparent;
  text-shadow: 1px 2px 0 rgba(255,255,255,0.2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font: 800 1.8em futura-pt;
}
h4 {
  font: 300 1em futura-pt;
  color: $darkgray;
}
/*-- RESET --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-- GLOBAL --*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(rgba(255, 255, 255, 1) 30%, rgba(200, 200, 200, 1) 100%);
}
.content__box {
  display: flex;
  overflow: auto;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  &--between {
    justify-content: space-between;
  }
}
  img {
    box-shadow: 0 0 1px 1px rgba(200,200,200,1);
    border-radius: 50%;
  }

.container {
  display: flex;
  background-color: $background;
  width: 375px;
  height: 667px;
  justify-content: center;
  align-items: center;
  @include border($lightgray);
  border-radius: 30px;
  box-shadow: 0 0 1px 1px rgba(200,200,200,1);
  flex-flow: column;
  max-height: 100%;
  overflow: auto;

  .button__link {
    text-decoration: none;
  }
  .outer:active > .inner {
  box-shadow: none;
  }
  .outer:focus > .inner {
  box-shadow: 0 0 0 4px $darkgray;
  }

  .outer, .inner {
  outline: none;
  }
}
