/*------------------style TYPa----------------------*/

.globaltyp {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    min-height: 50px;
    margin-bottom: 15px;
    color: $darkgray;
    padding: 5px;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    color: $darkgray;
    padding: 5px;
  }
}
.style1 {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em chaparral-pro;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1.2em/1em mr-eaves-modern;
  }
}

.style2 {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em museo-slab;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em source-serif-pro;
  }
}

.style3 {
  h3 {
    font: 500 1.4em trajan-pro-3;
  }

  p {
    font: 300 1em/1.4em omnes-pro;
  }
}

.style4 {
  h3 {
    font: 700 1.6em omnes-pro;
  }

  p {
    font: 300 1em/1.5em malaga;
  }
}

.style5 {
  h3 {
    font: 800 1.5em futura-pt;
  }

  p {
    font: 300 1em/1.5em museo-slab;
  }
}
