/*------------------style TYPa----------------------*/

.globaltyp {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  div:first-child > textarea, div:first-child > textarea + div, h3 {
    min-height: 40px;
    margin-bottom: 15px;

    padding: 5px;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {

    padding: 5px;
  }
}

.none {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",  sans-serif;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",  sans-serif;
  }
}

.fancy {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em chaparral-pro;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 400 1.2em/1em mr-proxima-nova;
  }
}

.stickler {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em museo-slab;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em source-serif-pro;
  }
}

.epic {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.4em trajan-pro-3;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em omnes-pro;
  }
}

.marvell {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 700 1.6em omnes-pro;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.5em malaga;
  }
}

.orbital {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 800 1.5em futura-pt;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.5em museo-slab;
  }
}

.janus {
  position: relative;
  &--inset::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -60px 40px -22px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 800 1.5em "comic sans MS";
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.5em courier;
  }
}
