/*------------------style TYPa----------------------*/

.globaltyp {
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  &--fadeOut {
    height: 200px;
    overflow: hidden;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px -60px 40px -22px #fff;
    }
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    min-height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    color: #000;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    padding: 5px;
    color: $darkgray;
  }
}

.none {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.4em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",  sans-serif;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",  sans-serif;
  }
}

.fancy {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.5em chaparral-pro;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em proxima-nova;
  }
}

.stickler {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.5em museo-slab;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em source-serif-pro;
  }
}

.epic {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.3em trajan-pro-3;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.3em omnes-pro;
  }
}

.marvell {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 700 1.5em omnes-pro;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.3em malaga;
  }
}

.orbital {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 800 1.4em futura-pt;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em museo-slab;
  }
}

.janus {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 800 1.4em "comic sans MS";
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.3em courier;
  }
}
