/*------------------style TYPa----------------------*/
.style1 {
  h3 {
    font: 500 1.6em museo-slab;
  }

  p {
    font: 300 1em/1.4em source-serif-pro;
  }
}

.style2 {
  h3 {
    font: 500 1.6em chaparral-pro;
  }

  p {
    font: 300 1.2em/1em mr-eaves-modern;
  }
}

.style3 {
  h3 {
    font: 500 1.4em trajan-pro-3;
  }

  p {
    font: 300 1em/1.4em omnes-pro;
  }
}

.style4 {
  h3 {
    font: 700 1.6em omnes-pro;
  }

  p {
    font: 300 1em/1.5em malaga;
  }
}

.style5 {
  h3 {
    font: 800 1.5em futura-pt;
  }

  p {
    font: 300 1em/1.5em museo-slab;
  }
}
