/*------------------style TYPa----------------------*/

.globaltyp {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  &--inset {
    box-shadow: inset 0 -10px 10px -10px #fff;
  }
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    min-height: 50px;
    margin-bottom: 15px;
    color: $darkgray;
    padding: 5px;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    color: $darkgray;
    padding: 5px;
  }
}

.none {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em "helvetica neue", arial;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em "helvetica neue", arial;
  }
}

.fancy {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em chaparral-pro;
  }
  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1.2em/1em mr-eaves-modern;
  }
}

.stickler {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.6em museo-slab;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em source-serif-pro;
  }
}

.epic {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 500 1.4em trajan-pro-3;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.4em omnes-pro;
  }
}

.marvell {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 700 1.6em omnes-pro;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.5em malaga;
  }
}

.orbital {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 800 1.5em futura-pt;
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.5em museo-slab;
  }
}

.janus {
  div:first-child > textarea, div:first-child > textarea + div, h3 {
    font: 800 1.5em "comic sans MS";
  }

  div:last-child > textarea, div:last-child > textarea + div, p, .typ {
    font: 300 1em/1.5em courier;
  }
}

.inset {
  box-shadow: inset 0 -10px 10px -10px #fff;
}
