h2 {
  width: 100%;
}

.typeform {
  @include post();

  .type__container {
    position: relative;
    width: 320px;
  }

  .type__content, .type__containter--resize {
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px;
    border: none;
  }

  .type__content {
    height: 100%;
    position: absolute;
    resize: none;
    white-space: normal;
    color: $darkgray;
  }

  .type__containter--resize {
    visibility: hidden;
    white-space: pre-wrap;
  }

  .type__content--title {
    min-height: 50px;
    margin-bottom: 15px;
    font: 500 1.5em chaparral-pro;
  }

  .type__content--typ {
    min-height: 360px;
    font: 300 1em/1.5em museo-slab;
  }

  .type__content:focus {
    outline:1px solid $lightgray;
    box-shadow: none;
  }

  .type__content::placeholder {
    color: $lightgray;
  }
}
